body {
    background-color: burlywood;
    margin: 5%;

}
#div1 {
width: 100%;
text-align: center;



}
input {
width: 50px;

}
button {
    margin-top: 10px;
    background-color:rgb(91, 91, 116);
    width: 150px;
font-size: large;

}
main {
width: 100%;
align-items: center;
align-self: center;
text-align: center;
}
main input {
width: 100px;





}